#ignore file with suffix .bak
*.bak

#ignoring the changes in sub folders of build folder
build/

#ignoring the changes in sub folders of thirdparty folder
thirdparty/

#ignoring the changes in sub folders of release folder
release/

#ignoring the changes in sub folders of platform folder
platform/
